@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap");

/* RESETS */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button,
input[type="email"] {
  font: inherit;
  border: none;
}

button {
  cursor: pointer;
}

input[type="email"] {
  all: unset;
  width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
  appearance: none;
  background-color: transparent;
  aspect-ratio: 1;
}

input[type="radio"] {
  border-radius: 50%;
  cursor: pointer;
}

fieldset {
  cursor: default;
  border: none;
}

/* VARIABLES */

:root {
  /* FONTS */
  --FF: "Rubik", sans-serif;
  --ROOT-FS: 1rem;
  --HERO__H6-FS: 1.5em;
  --HERO__H1-FS: 3em;
  --HERO__H1-LH: 0.9;
  --FOUNDERS__H6-FS: 1.25rem;
  --FOUNDERS__H2-FS: 2.5rem;
  --BETA-INFO__H6-FS: 1rem;
  --BETA-INFO__DEVICES-FS: 1.25em;
  --FOOTER-FS: 0.75rem;

  /* COLORS */
  --FONT-COLOR: #9999a5;
  --BG: #00011e;
  --HEADING-COLOR: #fff;
  --HEADER-HOVER-COLOR: rgba(255, 255, 255, 0.675);
  --BUTTON-BG-COLOR: #c252ff;
  --BUTTON-HOVER-BG-COLOR: #ae4ae5;
  --BUTTON-COLOR: #fff;
  --INPUT-EMAIL-PLACEHOLDER-COLOR: #723f8d;
  --JOIN__PERKS__HEADER-BG-COLOR: #455a7d;
  --JOIN__PERKS__HEADER-HOVER-BG-COLOR: #3e5170;
  --JOIN__PERKS__HEADER-COLOR: #fff;
  --BUTTON-ANIMATION-FADE-COLOR: #2c3a50;
  --FOUNDERS-BG: #fff;
  --FOUNDERS-HEADING-COLOR: #180824;
  --FOUNDERS-COLOR: #746b7c;
  --BETA-INFO-H6-COLOR: #c07fdf;
  --BETA-INFO-COLOR: #be7fdf;
  --BETA-INFO-FORM-COLOR: #9159af;
  --BETA-INFO__INPUT-WRAPPER-COLOR: #4e2066;
  --BETA-INFO__DEVICES-BG: #361647;
  --BETA-INFO__DEVICES__HR-COLOR: #9039be;
  --BETA-INFO__DEVICES-RADIO-BG: #200d2b;
  --FOOTER-BG-COLOR: #000;
  --FOOTER-PRIMARY-COLOR: #fff; /* IMPORTANT - When changed - Need to Change footerPrimaryColor in Footer.jsx */
  --FOOTER-SECONDARY-COLOR: #808080; /* IMPORTANT - When changed - Need to Change footerSecondaryColor in Footer.jsx */
  --FOOTER-TERTIARY-COLOR: #3f3f3f; /* IMPORTANT - When changed - Need to Change footerTertiaryColor in Footer.jsx */
  --FOOTER-HR-COLOR: #333;

  /* PADDING */
  --PARALLAX-PADDING-TB: 6vh;
  --PARALLAX-PADDING-SIDES: min(22vh, 12vw);
  --BUTTON-PADDING: 1.3em 3.65em;
  --BETA-INFO__INPUT-WRAPPER-PADDING: 0 2rem;
  --BETA-INFO__DEVICES-PADDING-TB: 1em;
  --BETA-INFO__DEVICES-PADDING-SIDES: 1.5em;

  /* MARGIN */
  --HEADER-TEXT-MARGIN: 18px 0;
  --HERO__H1-TB: 20px;
  --CORRECTION-MARGIN: 7px;

  /* SIZES */
  --JOIN__PERKS__HEADER-HEIGHT: 3.1em;
  --HEADER-LOGO-WIDTH: 8.5vw;
  --HEADER-LOGO-MIN-WIDTH: 127px;
  --BETA-INFO__INPUT-WRAPPER-HEIGHT: 4.2rem;
  --BETA-INFO__INPUT-LOGO-WIDTH: 2rem;

  /* GAPS */
  --IN-SECTION-GAP: 4em;
  --BETA-INFO-GAP: 2rem;
  --BETA-INFO__FORM-GAP: calc(var(--BETA-INFO-GAP) * 0.75);
  --BETA-INFO-INLINE-GAP: 0.5em;

  /* TRANSITIONS */
  --BG-FADE-IN: background-color 0.4s;
  --COLOR-FADE-IN: color 0.4s;

  /* ANIMATIONS */
  --INACTIVE-FADE-DURATION: 1.2s; /* IMPORTANT - When changed - Need to Change setPerksTimeout in Join.jsx */
  --FADEOUT-DURATION: 0.4s;

  /* FILTERS */

  /* Parallax */
  --PARALLAX-SPEED: 15; /* Speed will be modified for individual elements */
  --PARALLAX-MULTIPLIER: 150px;
}

/* UTILITY CLASSES */

.offscreen {
  position: absolute;
  left: -1000px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  display: grid;
  place-content: center;
}

.underline {
  text-decoration: underline;
}

.hr {
  width: 100%;
  height: 0px;
  border: 0.5px solid white;
}

/* GENERAL STYLING */

body {
  min-height: 100vh; /* Fall Back */
  min-height: 100svh;
  font: var(--ROOT-FS) var(--FF);
  color: var(--FONT-COLOR);
  background-color: var(--BG); /* Fall Back */
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--HEADING-COLOR);
}

h1,
h2,
h3 {
  font-style: italic;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1em;
}

a:any-link {
  text-decoration: none;
}

button {
  border-radius: 3px;
  background-color: var(--BUTTON-BG-COLOR);
  color: var(--BUTTON-COLOR);
  padding: var(--BUTTON-PADDING);
  transition: var(--BG-FADE-IN);
  font-style: italic;
}

button:hover {
  background-color: var(--BUTTON-HOVER-BG-COLOR);
}

.button-animation {
  animation: jiggly var(--INACTIVE-FADE-DURATION);
}

@keyframes jiggly {
  0% {
    transform: scaleX(100%);
    cursor: default;
  }

  15% {
    transform: scaleX(110%);
  }

  18% {
    transform: scaleX(100%);
  }

  99% {
    cursor: default;
  }

  100% {
    cursor: pointer;
  }
}

.inactive-fade-animation {
  animation: inactive-fade var(--INACTIVE-FADE-DURATION);
}

@keyframes inactive-fade {
  0% {
    background-color: var(--BUTTON-COLOR);
  }

  30% {
    background-color: var(--BUTTON-ANIMATION-FADE-COLOR);
  }

  70% {
    background-color: var(--BUTTON-ANIMATION-FADE-COLOR);
  }

  100% {
    pointer-events: auto;
    background-color: var(--BUTTON-COLOR);
  }
}

input[type="email"]::placeholder {
  color: var(--INPUT-EMAIL-PLACEHOLDER-COLOR);
}

input[type="checkbox"] {
  border: 0.15em solid var(--BETA-INFO-COLOR);
  border-radius: 0.15em;
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.6em;
  aspect-ratio: 1;
  scale: 0;
  transition: scale var(--FADEOUT-DURATION);
  background-color: var(--BETA-INFO-COLOR);
}

input[type="radio"] {
  background-color: var(--BETA-INFO__DEVICES-RADIO-BG);
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 1rem;
  aspect-ratio: 1;
  border-radius: 50%;
  scale: 0;
  transition: scale var(--FADEOUT-DURATION);
  background-color: var(--BETA-INFO-COLOR);
}

:is(input[type="checkbox"], input[type="radio"]):checked::before {
  scale: 1;
}

section {
  padding: 5em 2em;
}

/* BLOCKS */

.header {
  display: flex;
  justify-content: space-between;
  padding: var(--PARALLAX-PADDING-TB) var(--PARALLAX-PADDING-SIDES);
  --PARALLAX-SPEED: 12;
}

.hero {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: auto auto 90px auto;
  max-width: calc(var(--PARALLAX-PADDING-SIDES) * 2 + 850px);
  --PARALLAX-SPEED: 21;
}

.parallax {
  display: grid;
  grid-template-areas: "stack";
  height: 100vh; /* Fall Back */
  height: 100svh;
  position: relative;
}

.parallax > * {
  grid-area: stack;
  height: 100%;
  height: fit-content;
  width: 100%;
  animation: parallax linear;
  animation-timeline: scroll();
}

.parallax > *:where(img) {
  height: inherit;
  object-fit: cover;
}

.main,
.footer {
  background-color: var(--BG);
  position: relative;
  z-index: 1;
  animation: parallax linear;
  animation-timeline: scroll();
}

.join {
  display: flex;
  flex-direction: column-reverse;
  gap: var(--IN-SECTION-GAP);
}

@keyframes parallax {
  to {
    transform: translateY(
      calc(var(--PARALLAX-SPEED) * var(--PARALLAX-MULTIPLIER))
    );
  }
}

.founders {
  color: var(--FOUNDERS-COLOR);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--IN-SECTION-GAP) * 2.1);
}

.footer {
  background-color: var(--FOOTER-BG-COLOR);
  font-size: var(--FOOTER-FS);
  padding-top: 4em;
  padding-bottom: 2em;
}

/* ELEMENTS */

.header__logo {
  width: var(--HEADER-LOGO-WIDTH);
  min-width: var(--HEADER-LOGO-MIN-WIDTH);
  filter: drop-shadow(0 0 3em #fff);
}

.header__wrapper {
  display: none;
}

.header__a:any-link {
  color: var(--HEADING-COLOR);
  transition: var(--COLOR-FADE-IN);
}

.header__a:hover,
.header__a:focus {
  color: var(--HEADER-HOVER-COLOR);
}

.hero__h6 {
  font-size: var(--HERO__H6-FS);
}

.hero__h1 {
  font-size: var(--HERO__H1-FS);
  text-align: center;
  line-height: var(--HERO__H1-LH);
  margin: var(--HERO__H1-TB) 0;
}

.hero__button {
  margin: var(--CORRECTION-MARGIN);
}

.parallax__bg {
  --PARALLAX-SPEED: 18;
}

.parallax__dust {
  --PARALLAX-SPEED: 17;
}

.parallax__rays {
  --PARALLAX-SPEED: 20.5;
}

.parallax__luna {
  --PARALLAX-SPEED: 20;
}

.parallax__manny {
  --PARALLAX-SPEED: 19;
}

.parallax__fb,
.parallax__ff {
  height: fit-content;
  object-fit: contain;
  position: absolute;
  bottom: -2px;
  pointer-events: none;
  z-index: 1;
}

.parallax__fb {
  mix-blend-mode: hard-light;
}

.parallax__ff {
  bottom: -1.4vw;
}

.parallax__jax {
  --PARALLAX-SPEED: 17.5;
  object-position: min(0px, calc(-930px + 70vw)) center;
}

.parallax__filter {
  height: inherit;
  background-image: radial-gradient(
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.1) 50%,
    rgba(0, 0, 0, 0.7) 70%
  );
  pointer-events: none;
}

.join__why {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

.join__why__p {
  text-align: center;
}

.join__perks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  color: #fff;
}

.join__perks > * {
  width: 100%;
}

.join__perks__header {
  height: var(--JOIN__PERKS__HEADER-HEIGHT);
  display: flex;
  justify-content: center;
  gap: 0.3em;
}

.join__perks__header * {
  height: 100%;
}

.join__perks__header > * {
  background-color: var(--JOIN__PERKS__HEADER-BG-COLOR);
}

.join__perks__container__left,
.join__perks__container__right {
  aspect-ratio: 1.2;
  padding: 0.9em 1.1em;
}

.join__perks__container__left {
  clip-path: polygon(
    78.62% 0.42%,
    99.43% 25.91%,
    96.16% 88.71%,
    86.39% 99.36%,
    12.1% 100.15%,
    4.93% 87.9%,
    0.22% 14.01%,
    11.66% -0.28%
  );
}

.join__perks__container__right {
  clip-path: polygon(
    78.62% 0.42%,
    96.38% 15.83%,
    99.2% 86.69%,
    86.39% 99.36%,
    12.1% 100.15%,
    4.93% 83.87%,
    7.84% 22.07%,
    17.76% -0.28%
  );
}

.join__perks button:hover {
  background-color: var(--JOIN__PERKS__HEADER-HOVER-BG-COLOR);
}

.join__perks__header__left,
.join__perks__header__right {
  background-color: var(--JOIN__PERKS__HEADER-COLOR);
}

.join__perks__header__left {
  clip-path: polygon(
    54% 9.89%,
    54.25% 31.3%,
    32.5% 49.54%,
    53.92% 64.48%,
    54.18% 86.54%,
    4% 50%
  );
}

.join__perks__header__right {
  clip-path: polygon(
    36.76% 31.45%,
    35.93% 12.44%,
    89.88% 45.22%,
    38.03% 78.49%,
    37.75% 58.53%,
    62.44% 44.6%
  );
}

.join__perks__container__perk {
  flex-grow: 1;
  max-width: 173px;
  clip-path: polygon(
    92.82% 0.42%,
    97.24% 18.55%,
    98.89% 81.36%,
    94.04% 99.36%,
    6.64% 100.15%,
    1.11% 86.06%,
    1.86% 15.85%,
    7.29% 3.4%
  );
}

.join__perks__header__perk {
  font-size: 1.25em;
}

.join__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2em;
  font-size: 2em;
}

.join__cards__container__perk1,
.join__cards__container__perk2,
.join__cards__container__perk3,
.join__cards__container__perk4 {
  padding: 0 1em;
}

.join__cards__container__perk1 {
  clip-path: polygon(
    92.82% 0.42%,
    97.24% 18.55%,
    99.93% 78.03%,
    94.04% 99.36%,
    6.37% 96.82%,
    1.11% 79.39%,
    0.22% 26.96%,
    7.29% 3.4%
  );
}

.join__cards__container__perk2 {
  clip-path: polygon(
    90.54% 1.53%,
    95.53% 9.66%,
    97.91% 80.25%,
    92.6% 98.25%,
    10.15% 97.93%,
    2.06% 79.39%,
    3.6% 20.3%,
    10.76% 1.18%
  );
}

.join__cards__container__perk3 {
  clip-path: polygon(
    92.82% 2.64%,
    99.05% 14.11%,
    99.33% 66.92%,
    93.44% 84.92%,
    6.37% 96.82%,
    2.02% 84.95%,
    3.24% 30.29%,
    6.38% 15.63%
  );
}

.join__cards__container__perk4 {
  clip-path: polygon(
    91.99% 9.31%,
    99.31% 19.66%,
    99.1% 78.03%,
    94.04% 97.14%,
    6.37% 96.82%,
    0.28% 77.17%,
    3.12% 15.85%,
    8.95% 2.29%
  );
}

.fade-cards-animation {
  animation: fade-cards var(--INACTIVE-FADE-DURATION);
}

@keyframes fade-cards {
  50% {
    transform: translateY(5em) rotateZ(30deg);
    opacity: 0;
  }

  55% {
    transform: translateY(5em) rotateZ(30deg);
    opacity: 0;
  }
}

.main__founders-container {
  background-color: white;
  overflow: hidden;
}

.founders__header,
.founders__cards-container,
.founders__card,
.founders__card__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.founders__cards-container {
  row-gap: calc(var(--IN-SECTION-GAP) * 2);
}

.founders__card {
  gap: calc(var(--IN-SECTION-GAP) * 1.5);
}

.founders__h6 {
  color: var(--FOUNDERS-COLOR);
  font-size: var(--FOUNDERS__H6-FS);
}

.founders__figure {
  transform: scale(135%);
}

.founders__h2 {
  color: var(--FOUNDERS-HEADING-COLOR);
  font-size: var(--FOUNDERS__H2-FS);
}

.founders__p {
  text-align: center;
}

.main__beta-info-container {
  background: linear-gradient(0deg, #4e2066 0.1%, #180824 101.23%);
}

.beta-info {
  color: var(--BETA-INFO-COLOR);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--BETA-INFO-GAP);
}

.beta-info__h6 {
  font-size: var(--BETA-INFO__H6-FS);
  color: var(--BETA-INFO-H6-COLOR);
}

.beta-info__p {
  text-align: center;
}

.beta-info__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--BETA-INFO__FORM-GAP);
  width: 100%;
  max-width: 728px;
}

.beta-info__input-wrapper {
  background-color: var(--BETA-INFO__INPUT-WRAPPER-COLOR);
  width: 100%;
  height: var(--BETA-INFO__INPUT-WRAPPER-HEIGHT);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--BETA-INFO-INLINE-GAP);
  color: var(--BETA-INFO-FORM-COLOR);
  padding: var(--BETA-INFO__INPUT-WRAPPER-PADDING);
  border-radius: 10px;
  position: relative;
}

.beta-info__input-wrapper:first-child {
  rotate: z -3deg;
}

.beta-info__input-wrapper:nth-child(2) {
  transition: none;
  font-style: normal;
  position: relative;
}

.beta-info__input-wrapper:nth-child(2):hover {
  background-color: var(--BETA-INFO__INPUT-WRAPPER-COLOR);
}

.beta-info__input-wrapper:first-child::after {
  content: "";
  background-repeat: no-repeat;
  background-image: url(assets/email.png);
  background-size: contain;
  width: var(--BETA-INFO__INPUT-LOGO-WIDTH);
  aspect-ratio: 1;
  display: inline-block;
}

.beta-info__input-wrapper:nth-child(2)::after {
  content: "";
  width: var(--BETA-INFO__INPUT-LOGO-WIDTH);
  background-color: var(--BETA-INFO-COLOR);
  aspect-ratio: 1;
  display: inline-block;
  clip-path: polygon(
    36.76% 31.45%,
    35.93% 12.44%,
    89.88% 45.22%,
    38.03% 78.49%,
    37.75% 58.53%,
    62.44% 44.6%
  );
  transition: rotate var(--FADEOUT-DURATION);
}

.beta-info__input-wrapper:first-child:hover {
  &::after {
    background-image: url(assets/email-hover.png);
  }
}

.beta-info__input-wrapper:focus-within {
  & .beta-info__fader {
    opacity: 1;
  }

  & .beta-info__translator {
    translate: 0 0.5rem 0;
  }
}

.beta-info__input-wrapper:nth-child(2):focus-within {
  &::after {
    rotate: z -90deg;
  }

  & .beta-info__devices {
    opacity: 1;
    scale: 1;
  }
}

.beta-info__input-inner-wrapper {
  width: 100%;
}

.beta-info__fader,
.beta-info__translator {
  // !important - input[type="email"] has more specificity
  transition: all var(--FADEOUT-DURATION) !important;
}

.beta-info__fader {
  font-size: calc(var(--ROOT-FS) * 0.75);
  opacity: 0;
  position: absolute;
  top: 1rem;
}

.beta-info__translator {
  width: 100%;
  text-align: left;
}

.beta-info__devices {
  font-size: var(--BETA-INFO__DEVICES-FS);
  background-color: var(--BETA-INFO__DEVICES-BG);
  width: 100%;
  max-width: 19.5rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: var(--BETA-INFO__DEVICES-PADDING-TB) 0;
  gap: var(--BETA-INFO__DEVICES-PADDING-TB);
  position: absolute;
  top: var(--BETA-INFO__INPUT-WRAPPER-HEIGHT);
  right: 0;
  transform-origin: top;
  opacity: 0;
  scale: 1 0;
  transition: all var(--FADEOUT-DURATION);
  z-index: 1;
}

.beta-info__device__label {
  display: grid;
  grid-template-columns: auto 1em;
  justify-content: space-between;
  gap: var(--BETA-INFO-INLINE-GAP);
  padding: 0 var(--BETA-INFO__DEVICES-PADDING-SIDES);
}

.beta-info__devices > .hr {
  border-color: var(--BETA-INFO__DEVICES__HR-COLOR);
}

.beta-info__checkbox-label {
  cursor: pointer;
  display: grid;
  grid-template-columns: 1em auto;
  align-items: center;
  gap: var(--BETA-INFO-INLINE-GAP);
}

:is(.footer__a, .footer__b):any-link {
  transition: color var(--FADEOUT-DURATION);
}

.footer__a:any-link {
  color: var(--FOOTER-PRIMARY-COLOR);
}

.footer__b:any-link {
  color: var(--FOOTER-SECONDARY-COLOR);
}

.footer__flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 2em;
}

.footer__flex:first-child {
  padding-bottom: 6em;
}

.footer__hr {
  border-color: var(--FOOTER-HR-COLOR);
}

.footer__supercell {
  display: grid;
  place-content: center;
  padding-top: 3em;
  padding-bottom: 2em;
}

/* MODIFIERS */

/* MEDIA QUERIES */

/* ipads, Tablets */
@media screen and (min-width: 481px) {
  :root {
    --HERO__H6-FS: 2em;
    --HERO__H1-FS: 5em;
    --FOUNDERS__H2-FS: 3rem;
    --BETA-INFO__H6-FS: 1.25rem;
    --FOOTER-FS: 0.85rem;
    --PARALLAX-MULTIPLIER: 120px;
  }
}

/* Small Screens and Laptops */
@media screen and (min-width: 769px) {
  :root {
    --HERO__H6-FS: 2.5em;
    --HERO__H1-FS: 6.75em;
    --JOIN__PERKS__HEADER-HEIGHT: 3.4em;
    --PARALLAX-MULTIPLIER: 100px;
  }

  h2 {
    font-size: 3.125em;
  }

  p {
    font-size: 1.25em;
  }

  .header__wrapper {
    display: block;
    margin: var(--HEADER-TEXT-MARGIN);
  }

  .hero {
    align-items: flex-start;
    margin-left: 0;
    margin-bottom: 45px;
    padding: 0 var(--PARALLAX-PADDING-SIDES);
    --PARALLAX-SPEED: 20;
  }

  .hero__h6::before {
    content: "\00a0";
  }

  .hero__h1 {
    text-align: left;
  }

  .join {
    flex-direction: row;
  }

  .join > * {
    flex-basis: 100%;
  }

  .join__why {
    align-items: flex-start;
    gap: 4em;
  }

  .join__why__p {
    max-width: 20.4em;
    text-align: left;
  }

  .join__why > :not(h2) {
    margin: 0 var(--CORRECTION-MARGIN);
  }

  .join__cards {
    font-size: 2.5rem;
  }

  .founders {
    gap: var(--IN-SECTION-GAP);
  }

  .founders__cards-container {
    flex-direction: row;
  }

  .founders__card {
    gap: calc(var(--IN-SECTION-GAP) * 0.7);
  }

  .founders__figure {
    transform: scale(100%);
  }

  .founders__card:nth-child(2),
  .founders__card:last-child {
    scale: 70%;
  }

  .founders__card:first-child {
    z-index: 1;
  }

  .founders__card:nth-child(2) {
    order: -1;
    translate: 23%;
  }

  .founders__card:last-child {
    translate: -23%;
  }
}

/* Desktops and Large Screens */
@media screen and (min-width: 1025px) {
}

/* Extra Large Screens and TV's */
@media screen and (min-width: 1201px) {
}
